*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

 body{
   background-color:rgba(111, 111, 219, 0.541);
 }

main{
    margin: auto;
    background-color: rgb(111, 111, 219);
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 37%;
    border-radius: 4px;
}

.container{
    padding: 30px;
    width: 400px;
    height: 550px;
}

.input{
  padding: 10px; 
  font-weight: bold; 
 

}

.input input{
  width: 100%;
  height: 34px;    
  padding-left: 5px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: bold;
}

.btn{
  text-align: center;
  background-color: red;
  margin-top: 20px;
  
}

button{
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  height: 50px;
  background-color: rgb(206, 69, 69);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
 
}

h1{
  text-align: center;
  margin-bottom: 10px;

}

.result {
 display: flex;
  margin-top: 20px;
  align-items: center;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font: italic 1.5rem serif;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.199);
  background: rgb(206, 69, 69);
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  user-select: none;
}
